
* {
    box-sizing: border-box;
}


/* total width */
*::-webkit-scrollbar {
    background-color: transparent;
    width: 16px;
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
    background-color: transparent;
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
    background-color: #663066;
    border-radius: 16px;
    border: 2px solid #330033;
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
    display:none;
}

main {
    bottom: 0;
    left: 0;
    font-family: Barlow, Helvetica, Arial;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s ease-in-out;
}

body.state-active main {
    opacity: 1;
}

h1 {
    font-size: 1.5rem;
    letter-spacing: 0.01rem;
}

h1 sup {
    display: inline-block;
    font-size: 0.85rem;
    opacity: 0.85;
    transform: translate(-2px, 0);
}

h3 {
    display: block;
    font-family: Barlow, Helvetica, Arial;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
}

h3 mark {
    background-color: #222;
    border-radius: 4px;
    color: #999;
    display: inline-block;
    font-size: 0.65rem;
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
}

p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #ccc;
}

a {
    color: #fff;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #ccc;
}

hr {
    margin: 2rem 0;
    opacity: 0.1;
}

#canvasWrapper {
    height: 100% !important;
    opacity: 0.15;
    pointer-events: none;
    position: absolute;
    transform: translate(-0%, 0);
    top: 0;
    width: 100% !important;
}

canvas {
    background-color: transparent;
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
}


/**
 * Header
 * -------------------------------------------------------------------------- */

header .action-github {
    position: fixed;
    right: 2rem;
    transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
    top: 2.1rem;
}

header .action-github:hover {
    transform: scale(1.05);
}


/**
 * Editor
 * -------------------------------------------------------------------------- */

#txtInput {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


/**
 * Form
 * -------------------------------------------------------------------------- */

button {
    padding: 1.5rem;
    width: 100%;
}


/**
 * Output Minimap
 * -------------------------------------------------------------------------- */

#output {
    background: rgba(0, 0, 0, 0.25);
    border-left: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 100vh;
    max-width: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem 2rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 100;
}

#output label span {
    display: block;
    font-family: Barlow, Helvetica, Arial;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
}

#output label select {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    color: #fff;
    font-family: Barlow, Helvetica, Arial;
    font-weight: 700;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
}

#output label select option {
    color: #000;
    padding: 0.25rem;
}

#output textarea {
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 0.75rem;
    min-height: 200px;
    outline: none;
    resize: none;
    width: 100%;
}
